@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
.header-text{
    margin-top: 50px;
    text-align:center;
    padding: 20px;
    font-size: 75px;
    letter-spacing: 8px;
    font-family: 'Trocchi' ;
    font-weight:700;
    color:#e2e2e2 ;
    border-top: 3px solid #a8a0a0 ;
    border-bottom: 3px solid #a8a0a0 ;
}

#play-now-text{
    text-align:center;
    color: #e2e2e2 !important;
    margin-top: 40px;
    margin-bottom:25px;
    font-family:'Trocchi';
    font-size: 55px;

}

.home {
    overflow: auto;
    min-height:100vh;
    min-width: 100%;
    background-image: url('./cards.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-header {
    height: 100px;
}

#sign-in-text {
    margin-top: 25px;
}

.login-body {
    display: flex ;
    justify-content: center ;
}

.form-control {
    margin-top:10px;
    height:50px;
    width: 300px !important;
}

.form-group {
    display:flex ;
    justify-content:center ;
}

.container {
    height: 75vh;
}

.login-card{
    height: 400px;
    margin-top: auto;
    margin-bottom: 50px;
    width: 400px;
    background-color: rgba(60, 60, 61, 0.85) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.white-text {
    color:white;
}

.login_btn{
    color: black;
    font-weight:bold !important;
    background-color: #ffffff !important;
    width: 100px;
    margin-top: 20px; 
}
    
.login_btn:hover{
color: black;
background-color: white;
}