.options-header{
    display:flex;
    width: 100%;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    font-size: 75px;
    letter-spacing: 8px;
    font-family: 'Trocchi' ;
    font-weight:700;
    color:#e2e2e2 ;
    border-top: 3px solid #a8a0a0 ;
    border-bottom: 3px solid #a8a0a0 ;
}
.options-text {
    color:#e2e2e2 ;
}
.options {
    min-height:100vh;
    min-width: 100%;
    overflow: auto;
    background-image: url('./cards.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.options-text {
    font-size: 50px;
    padding-top: 40px;
    padding-left: 50px;
}
.active-games {
    color: whitesmoke;
    text-align:center;
    font-size: 40px;
}
.logout-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white !important;
    font-size: 45px;
    font-weight: bold;
    padding-top: 40px;
    padding-right: 50px;
}


.rules-text {
    background-color: rgba(33, 33, 36, 0.95) !important;
    color:whitesmoke;
    padding:50px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    /* max-height: 700px !important; */
}
#create-game-btn, #view-stats-btn {
    padding: 10px !important;
    border: 5px solid rgb(65, 9, 9) !important;
    background-color: rgb(66, 10, 10) !important;
    color:whitesmoke;
    border-radius: 13px !important;
    font-size: 20px !important;
}
#create-game-btn:hover, #view-stats-btn:hover{
    border: 5px solid rgb(66, 11, 11) !important;
    background-color: rgb(100, 19, 19) !important;
    color:whitesmoke ;
    border-radius: 16px !important;

}

#view-stats-btn{ 
    margin-left: 20px;
}

.active-games-refresh{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 25px;
    padding-top:20px;
}
#refresh-btn {
    /* padding: 10px; */
    background:none;
    border:none;
    color:whitesmoke;
    font-size: 33px;
    margin-left: 15px;
}
.rules-header {
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    width: 100%;
}
.how-to-play {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding-top: 20px;
    padding-bottom: 30px;
}

td {
    text-align:center;
}
.table-header-text {
    background-color: rgb(21, 21, 22) !important;
    text-align:center;
    font-size: 23px;
    padding:18px !important;
    color: rgb(235, 235, 235);
}
.join-game-btn {
    padding: 8px;
    letter-spacing: 4px;
    border: 3px solid rgb(40, 5, 5) !important;
    background-color: rgb(68, 10, 10) !important;
    color:whitesmoke;
    border-radius: 13px;
}
.table-responsive{
    max-height: 700px !important;
}
.join-game-btn:hover {
    padding: 8px;
    letter-spacing: 4px;
    border: 3px solid rgb(66, 11, 11) !important;
    background-color: rgb(100, 19, 19) !important;
    color:whitesmoke;
    border-radius: 16px ;
}